.pending-invites-panel {
	// border: 2px solid red;
	padding-left: .25em;
	margin-top: .25em;
}

.pending-invites-panel-invite-element {
	// color:black;
}

.option-format {
	margin-left: .5em;
	margin-right: .5em;
}

.pending-invites-panel-horizontal-rule {
	width: 50%;
	align: left
}