
<div class="small-10 small-centered large-centered columns active-teams <%= @teams.empty? ? 'hide' : 'show' %>" id="active-teams">
	<ul class="list active-teams-list no-bullet">Your current teams:
		<%= render @teams %>
	</ul>
</div>
