Team Page for <%= @team.name %>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <a class="left-off-canvas-toggle" href="">Users</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
      <div class="current-roster-partial"><%= render "rosters/current_roster" %></div>
    </aside>

    <!-- main content goes here -->
    <div class="section-container nice contained tabs mobile" data-section="tabs">
      <section class="active tasks">
        <p class="title" data-section-title>
          <a href="#">Tasks</a>
        </p>
        <div class="content" data-section-content>
          <div class="task-list-partial"><%= render "tasks/task_list" %></div>
          <p>Content of section 1.</p>
        </div>
      </section>

      <section class="notes">
        <p class="title" data-section-title>
          <a href="#">Notes</a>
        </p>
        <div class="content" data-section-content>
          <div class="note-list-partial"><%= render "notes/note_list" %></div>
          <p>Content of section 2.</p>
        </div>
      </section>
    </div>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>
  </div>
</div>

