<!-- 
<div class="notes-panel">
<%# if !@notes.empty? %>
	<ul>Current notes
	<%# @notes.each do |note| %>
	<li>
		<%#= note.remark %>
	</li>
	<%# end %>
	</ul>
<%# end %>
</div>
	add notes panel here -->