<div class="small-10 small-centered large-centered columns active-tasks <%= @individual_active_tasks.empty? && @individual_others_claimed_tasks.empty? ? 'hide' : 'show' %>" id="active-tasks">
	<ul class="list active-tasks-list no-bullet">Active Tasks:
	<% @individual_active_tasks.each do |task| %>
		<%= render :partial=> '/tasks/individual_task', 
		:locals => { :@task => task, :@state => :active } %> 
	<% end %>
	<% @individual_others_claimed_tasks.each do |task| %>
		<%= render :partial=> '/tasks/individual_task', 
		:locals => { :@task => task, :@state => :claimed } %> 
	<% end %>
	</ul>
</div>
