<div class="box small-10 small-centered large-centered columns active-tasks" id="active-tasks">
	<ul class="list active-tasks-list no-bullet">Open Tasks:
		<% @individual_active_tasks.each do |task| %>
			<%= render :partial=> '/tasks/individual_task', 
			:locals => { :@task => task, :@state => :active } %> 
		<% end %>
	</ul>
</div>
