<div class="small-10 small-centered large-centered columns overdue-tasks <%= @individual_overdue_tasks.empty? ? 'hide' : 'show' %>" id="overdue-tasks">
	<ul class="list overdue-tasks-list no-bullet">Overdue Tasks:
	<% @individual_overdue_tasks.each do |task| %>
		<%= render :partial=> '/tasks/individual_task', 
		:locals => { :@task => task, :@state => :overdue } %> 
	<% end %>
	</ul>
</div>