var id = <%= @task_id %>;

<% if @task_success %>

	$('.task-list-element-'+id).replaceWith('<div data-alert class="alert-box info radius"><%= escape_javascript( flash[:notice] ) %> </div> ');

	$( '.alert-box' ).delay(1500).slideUp('slow', function() {});

	<% else %>

	$('.task-list-element-'+id).before('<div data-alert class="alert-box alert radius"><%= escape_javascript( flash[:alert] ) %> </div> ');

	$( '.alert-box' ).delay(1500).slideUp('slow', function() {});

<% end %>