
<div class="fixed contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <section class="top-bar-section">
        <% if current_user %>
          <ul class="left">
            <li class="name">
              <h1><%= "Hello, #{current_user.firstname} #{current_user.lastname}!" %></h1>
            </li>
          </ul>
        <% end %>
      </section>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </section>
    
  </nav>
</div>